# https://github.com/github-linguist/linguist/blob/main/lib/linguist/languages.yml
# https://github.com/github-linguist/linguist/blob/main/docs/overrides.md

* text=auto eol=lf

*.md	linguist-detectable=true
*.md	linguist-language=Markdown

# primary files
src/pakchunk0-PLATFORM.pak/Holiday/Content/Localization/Game/*.yaml	linguist-detectable=true
src/pakchunk0-PLATFORM.pak/Holiday/Content/Localization/Game/*.yaml	linguist-language=YAML

src/pakchunk0-PLATFORM.pak/Holiday/Content/NonAssets/ETP/*.yaml		linguist-detectable=true
src/pakchunk0-PLATFORM.pak/Holiday/Content/NonAssets/ETP/*.yaml		linguist-language=YAML

Steam/**/pakchunk0-WindowsNoEditor.pak/Game/Content/Localization/Game/*.yaml	linguist-detectable=true
Steam/**/pakchunk0-WindowsNoEditor.pak/Game/Content/Localization/Game/*.yaml	linguist-language=YAML

Steam/**/pakchunk0-WindowsNoEditor.pak/Game/Content/NonAssets/ETP/*.yaml		linguist-detectable=true
Steam/**/pakchunk0-WindowsNoEditor.pak/Game/Content/NonAssets/ETP/*.yaml		linguist-language=YAML

tools/cryptokeys.json	linguist-detectable=true
tools/pack_etp--KwK.py	linguist-detectable=true
