* text=auto

# (.etp > .yaml)
Steam/**/pakchunk0-WindowsNoEditor.pak/Game/Content/NonAssets/ETP/*.yaml linguist-detectable=true

# (.etp > .json)
Steam/**/BACKLOG/pakchunk0-WindowsNoEditor.pak/Game/Content/NonAssets/ETP/*.json linguist-detectable=true
Steam/**/IN_PROGRESS/pakchunk0-WindowsNoEditor.pak/Game/Content/NonAssets/ETP/*.json linguist-detectable=true
Steam/**/DONE/pakchunk0-WindowsNoEditor.pak/Game/Content/NonAssets/ETP/*.json linguist-detectable=true
# Steam/**/REFERENCES/pakchunk0-WindowsNoEditor.pak/Game/Content/NonAssets/ETP/*.json linguist-detectable=true

# (.locres & .locmeta > .json)
Steam/**/BACKLOG/pakchunk0-WindowsNoEditor.pak/Game/Content/Localization/Game/*.json linguist-detectable=true
# Steam/**/REFERENCES/pakchunk0-WindowsNoEditor.pak/Game/Content/Localization/Game/**/*.json linguist-detectable=true
